{% load staticfiles %}

<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="stylesheet" type="text/css" href="{% static 'manifests/dev/css/mirador-combined.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'manifests/dev.css' %}">
  <title>Harvard Mirador Viewer</title>
</head>
<body>
  <div id="viewer"></div>
  <script src="{% static 'manifests/dev/mirador.js' %}"></script>
  {% verbatim %}
  <script id="citation-tmpl" type="text/x-handlebars-template">
    <div title="citation">
      <header>
        <h3>Resource</h3>
      </header>
      <ul>
        <li><span class="label plink">Persistent Link</span> <a href="{{{resource.urn}}}">{{resource.urn}}</a></li>
        <li><span class="label desc">Description</span> {{{resource.description}}}</li>
        <li><span class="label repo">Repository</span> {{{resource.repository}}}</li>
        <li><span class="label inst">Institution</span> {{{resource.institution}}}</li>
        <li><span class="label access">Accessed</span> {{{resource.accessed}}}</li>
      </ul>

      <header>
        <h3>Page</h3>
      </header>
      <ul>
        <li><span class="label plink">Persistent Link</span> <a href="{{{resource.urn}}}">{{resource.urn}}</a></li>
        <li><span class="label desc">Description</span> {{{resource.description}}}</li>
        <li><span class="label page">Page</span> {{{page.pagelabel}}}</li>
        <li><span class="label repo">Repository</span> {{{resource.repository}}}</li>
        <li><span class="label inst">Institution</span> {{{resource.institution}}}</li>
        <li><span class="label access">Accessed</span> {{{resource.accessed}}}</li>
      </ul>
    </div>
  </script>

  <script id="search-tmpl" type="text/x-handlebars-template">
    <div title="search">
      <form id="search">
        <input name="searchbox" id="searchbox"  size="80"/>
      </form>

      <div id="searchresults" style="display:none" />
    </div>
  </script>

  <script id="choices-tmpl" type="text/x-handlebars-template">
    <div title="Choices" class="choices {{ op }}">
      <header><h2>Displayed Manifests</h2></header>
      <ul>
        {{#each choices}}
        <li><a class="manifest" data-drs-id="{{ drs_id }}" data-n="{{ n }}" href="#no-op">{{ label }}</a></li>
        {{/each}}
      </ul>
    </div>
  </script>

  <script id="print-tmpl" type="text/x-handlebars-template">
    <div title="Print" class="print {{ op }}">
      <p class="header">Print Manifest</p>


      <table width="100%" border="0" cellspacing="15">
        <tr valign="top">
          <td width="30%">
            <strong>Convert to PDF</strong> creates a PDF file for the selected pages.
            You can print the PDF or save it to disk.
            <p>
              This service creates PDFs at 10 pages-per-minute.
              Requests larger than 500 pages can take an hour or more to process.
              <p>
                The link to your PDF will remain active for 7 days.

          </td><td>
            <form name="print" action="/pds/print/732241">
              <input type="hidden" name="n" value="{{ n }}"/>
              <input type="hidden" name="id" value="{{ drs_id }}"/>
              <table width="100%" border="0"  cellpadding="6" cellspacing="0">
                <tr>
                  <td align="left">
                    <div class="textsmallred"><small>Requests for 10 pages or less will be delivered to your browser immediately. For larger requests, please enter an email address and a link to the PDF will be delivered by email.
                      <p>
                        <u>Firefox users</u>: To open large PDFs, go to Tools &gt; Options &gt; Applications and set Firefox to open Adobe Documents in Adobe Acrobat (not in "Adobe Acrobat in Firefox").


                        <small></div><hr/>
                  </td></tr>
                <tr> <td>
                  <input type="radio" name="printOpt" value="current" checked />Convert current page
                </td></tr>
                <tr><td >
                  <input type="radio" name="printOpt" value="range"  />Convert page sequence
                  <input type="text" name="start" size="6" onclick="javascript:document.print.printOpt[1].checked=true;" value="" /> to
                  <input type="text" name="end" size="6" onclick="javascript:document.print.printOpt[1].checked=true;" value=""/>
                </td></tr>
                <tr><td >
                  <input type="radio" name="printOpt" value="all"  />Convert entire document
                </td></tr>
                <tr><td>
                  Email address: <input type="text" name="email" size="32" onclick="" value=""/>
                </td></tr>

              </table>
              <br/>
              <table border="0" width="100%" align="center"><tr align="right"><td>
                <div>
                  <input type="submit"  class="buttonhighlightred" value="   Convert   "  onclick="" name="pdssubmit"/>
                </div></td></tr></table></form></td></tr></table>



    </div>
  </script>
  {% endverbatim %}
  <script type="text/javascript">
   window.harvard_md_server = {
     PDS_VIEW_URL: "{{ pds_view_url }}",
     PDS_PRINT_URL: "http://pdstest.hul.harvard.edu/pds/printpdf/",
     PDS_SEARCH_URL: "http://pdstest.hul.harvard.edu/pds/find/",
     MIRADOR_DATA: [
       {% autoescape off %}
       {{ manifests_json|join:"," }}
       {% endautoescape %}
     ],
     MIRADOR_WOBJECTS: [
       {% for uri, title in manifests.items %}
       { "loadedManifest": "{{ uri }}",
         "viewType": "ImageView" },
       {% endfor %}
     ],
     LAYOUT: "{{ layout_string }}"
   };
  </script>
  <script type="text/javascript" src="{% static 'manifests/dev.js' %}"></script>
</body>
</html>
